<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <div id="main">
        <div id="text-div">
            <p id="para-1">File Compression</p>
            <p id="para-2">using</p>
            <p id="para-3">Huffman Coding</p>
        </div>
        <div id="main-div">
            <div id="div-compress">
                <div id="button-div-compress">
                    <form action="/submit" method="post">
                        <input class="button-com button" type="submit" value="compress" name="but">
                    </form>
                </div>
            </div>
            <div id="div-decompress">
                <div id="button-div-decompress">
                    <form action="/submit" method="post">
                        <input class="button-decom button" type="submit" value="decompress" name="but">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>